﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>


@using Umbraco.Web
@using Umbraco.Core.Models 
@using System.Web.Mvc.Html


@if (Model.value != null)
{

   
  
   //            @SPC_Ison_Extensions.HTMLHelperExtensions.PartialPagePart(Html,  Convert.ToInt16(Model.value.id))
    IPublishedContent content = Umbraco.TypedContent(Convert.ToInt32(Model.value.id));
 @Html.Partial(content.GetTemplateAlias(), (object)content)
}


@*<pre>@Model.value.id</pre>*@