﻿<div ng-controller="Umbraco.PropertyEditors.Grid.TextStringController">
    <textarea
        rows="1"
        umb-auto-resize
        umb-auto-focus
        class="textstring input-block-level" id="{{control.uniqueId}}_text"
        ng-model="control.value.heading"
        ng-attr-style="{{control.editor.config.style}}" placeholder="Write heading here..."></textarea>
    <textarea rows="1"
              umb-auto-resize
              umb-auto-focus
              class="textstring input-block-level" id="{{control.uniqueId}}_text"
              ng-model="control.value.subtitle"
              ng-attr-style="{{control.editor.config.style}}" placeholder="Write subtitle here..."></textarea>
</div>