<div ng-controller="Umbraco.PropertyEditors.Grid.TextStringController">
    <textarea
        rows="1"
        umb-auto-resize
        umb-auto-focus
        class="textstring input-block-level" id="{{control.uniqueId}}_text"
        ng-model="control.value.quote"
        ng-attr-style="{{control.editor.config.style}}" placeholder="Write quote here..."></textarea>
    <textarea rows="1"
              umb-auto-resize
              umb-auto-focus
              class="textstring input-block-level" id="{{control.uniqueId}}_text"
              ng-model="control.value.clientname"
              ng-attr-style="{{control.editor.config.style}}" placeholder="Write client name here..."></textarea>
</div>