﻿@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@using Examine.LuceneEngine.SearchCriteria
@{
    if (!string.IsNullOrEmpty(Request.QueryString["search"]))
    {

        //Fetching what eva searchterm some bloke is throwin' our way
        var q = Request.QueryString["search"];

        //Fetching our SearchProvider by giving it the name of our searchprovider 
        var Searcher = Examine.ExamineManager.Instance.SearchProviderCollection["MySearchSearcher"];
        
        //Searching and ordering the result by score, and we only want to get the results that has a minimum of 0.05(scale is up to 1.)
        var searchResults = Searcher.Search(q, true);


           
        //Printing the results   
    <ul>
        @foreach (var item in searchResults)
        {
            var page = Umbraco.Content(item.Fields["id"]);
            <li>
                <a href="@page.Url">@page.Name </a>
            </li>
        }
    </ul>
    }
}