﻿@using WebApplication1.Helpers
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    IPublishedContent home = CurrentPage.Site();
    var pages = home.Children.Where("Visible").Where(x => x.Children.Any());
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Site map</h2>
        </div>
        <div class="col-md-12">
            @foreach (var page in pages)
            {
                <ul>
                    <li>
                        <div>@page.Name</div>
                        <ul>
                            @foreach (var subPages in Helper.GetChildPagesForNavigation(page))
                            {
                                <li>
                                    <a href="@subPages.Url">@subPages.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>