﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@using Umbraco.Core.Models

@if (Model.value != null)
{
    IPublishedContent content = Umbraco.TypedContent(Convert.ToInt32(Model.value.id));
    @*@Html.Partial(content.GetTemplateAlias(), (object)content)*@
    <a href="@content.Url" class="button">@Model.value.buttontext</a>
}