@model Umbraco.Forms.Mvc.Models.FieldViewModel


    <input type="checkbox" name="@Model.Name" id="@Model.Id"
           @if (Model.Mandatory) { <text> data-val="true" data-val-requiredcb="@Model.RequiredErrorMessage" </text> }
           @if (Model.ContainsValue(true) || Model.ContainsValue("true") || Model.ContainsValue("on")) { <text> checked="checked" </text> } />