@model Umbraco.Forms.Mvc.Models.FieldViewModel
<select name="@Model.Name" id="@Model.Id" class="form-control form-control--lg" aria-label="@Model.Name"
@if (Model.Mandatory){<text> data-val="true" data-val-required="@Model.RequiredErrorMessage"</text>}
>
    <option value="">Choose @Model.Caption</option>
    @foreach (var pv in Model.PreValues)
    {
        <option value="@pv.Value" 
        @if (Model.ContainsValue(pv.Value))
        {<text>selected="selected"</text>}
        >@pv.Value</option>
    }
</select>