﻿<div ng-controller="Umbraco.SPCPropertyEditors.Grid.ContentController">

    <div class="usky-editor-placeholder" ng-click="setContentId()">

        <i class="icon icon-settings-alt"></i>
        <div ng-id="!control.$inserted" class="help-text">Click to insert Page Part</div>


        <div ng-if="control.value">
            <p>Node ID: {{id}} <br />Node Name: {{name}} <br />Path: {{path}}</p>
        </div>

        <textarea rows="1"
                  umb-auto-resize
                  umb-auto-focus
                  class="textstring input-block-level" id="{{control.uniqueId}}_text"
                  ng-model="control.value.buttontext"
                  ng-attr-style="{{control.editor.config.style}}" placeholder="Write button text here..."></textarea>

    </div>
</div>