﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>


@if (Model.value != null)
{
    <header class="h-group h-group--primary">
        <h2 class="h-group__heading">@Model.value.heading</h2>
        <p class="h-group__subtitle">@Model.value.subtitle</p>
    </header>
}
