@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>

@if (Model.value != null)
{
    <section class="section">
        <div class="section__inner">
            <div class="section__row">
                <header class="h-group col-md-3">
                    <h2 class="h-group__heading">Testimonials</h2>
                    <p class="h-group__subtitle">What our patients say about our services</p>
                </header>
                <div class="col-md-9">
                    <blockquote class="quotation quotation--primary">
                        @*<svg class="quotation__icon"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/symbol-defs.svg#icon-quotation"></use></svg>*@

                        <div class="quotation__inner">
                            <p>@Model.value.quote</p>
                            <footer>@Model.value.clientname</footer>
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </section>
}